<!DOCTYPE html>
<html lang="en">
<head>
  {{>link}}
  {{>style}}
</head>
<body>
  {{>header}}
    
    <!-- mainheader -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 mx-auto content">
                        <h1>Webpage developer</h1>
                        <p>
                        Hey all,In today's date we should have a complete knowledge about how to earn money in different modes.And from those all, deveoping WEB PAGE is one.So we should know everthing about HOW TO DEVELOPE A WEB PAGE.And so I am here through this to help you.Welcome to my webpage guys.GOOD LUCK!!!   
                        
                          
                        </p>
                        
                    </div>
                    <div class="col-md-6 col-12 mx-auto content">
                        <div id="carouselExampleControls" class="carousel img_slide slide" data-bs-ride="carousel">
                            <div class="carousel-inner img_slide">
                              <div class="carousel-item active">
                                <img src="images/oip2.jpg" class="img-fluid" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/meeting-2284501_960_720.jpg" class="img-fluid" alt="...">
                              </div>
                              <div class="carousel-item">
                                <img src="images/student-849822__340.jpg" class="img-fluid" alt="...">
                              </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {{>footer}}
</body>
</html>
