  
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                        <a class="navbar-brand logo" href="#"><h2>RoyTechnical</h2></a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                          <li class="nav-item">
                            <a class="nav-link active logo" aria-current="page" href="/">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link logo" href="/weather">Weather</a>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle logo" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Projects
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/weather">Weather</a></li>
                              <li><a class="dropdown-item" href="background_changer">background_changer</a></li>
                              <li><a class="dropdown-item" href="wordcounter">wordcounter</a></li>
                              <li><a class="dropdown-item" href="temperature_converter">temperature_converter</a></li>
                              <li><hr class="dropdown-divider"></li>
                              <li><a class="dropdown-item" href="/seh">Something else here</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                
            </div>
        </div>
    </div>
    {{!-- background-image: url(https://images.unsplash.com/photo-1584824486516-0555a07fc511?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80); --}}
          